@reference "../../../styles/variables.css";

.autocomplete-input-container {
  @apply w-full mb-5;
}

.autocomplete-value-input-container {
  @apply w-full relative;
}

.autocomplete-text-input {
  @apply !mb-0;
}

.autocomplete-delete-button {
  @apply flex items-center justify-center absolute right-2 top-[50%] translate-y-[-50%];
}

.autocomplete-delete-button svg {
  @apply w-3 h-3;
}

.autocomplete-suggestions-container {
  @apply m-0 p-0 z-30 absolute w-full max-h-44 overflow-auto shadow-md;
}

.autocomplete-suggestion-item {
  @apply p-2 cursor-pointer;
}

.autocomplete-create-option {
  @apply font-semibold text-bg-primary;
}

.autocomplete-value-container {
  top: 50%;
  transform: translateY(-50%);
  max-width: 40%;
  @apply flex items-center justify-start flex-nowrap gap-2 absolute right-2;
}

.autocomplete-value-container > li:first-child,
.autocomplete-value-container .chip-main,
.autocomplete-value-container .chip-main-text {
  @apply min-w-0;
}

.autocomplete-value-container > li:not(:first-child) {
  @apply shrink-0;
}

.autocomplete-value-container .chip-main {
  @apply max-w-full;
}

.autocomplete-value-container .chip-main-text {
  @apply truncate;
}
