.filter-dropdown-button {
  @apply text-sm inline-flex items-center justify-center border border-transparent rounded leading-5 shadow-sm transition duration-150 ease-in-out;
}

.filter-dropdown-button.normal {
  @apply px-3 py-2;
}

.filter-dropdown-button.small {
  @apply px-2 py-0.5;
}

.filter-dropdown-trigger-icon {
  @apply w-4 h-4 fill-current;
}

.filter-dropdown-backdrop {
  transition: grid-template-rows;
  transition-duration: 500ms;
  @apply grid w-full overflow-auto;
}

.filter-dropdown-backdrop.opened {
  grid-template-rows: 1fr;
}

.filter-dropdown-backdrop.closed {
  grid-template-rows: 0fr;
}

.filter-popup {
  @apply overflow-auto;
}

.filter-title {
  @apply text-xs font-semibold uppercase pt-1.5 pb-2 px-3 mb-3;
}

.filter-container {
  @apply mb-4 grid grid-cols-4 gap-x-6 gap-y-8 p-3;
}

.filter-container-item {
  @apply flex items-center;
}

.filter-footer {
  @apply py-2 px-3 border-t;
}

.filter-buttons-row {
  @apply flex items-center justify-between;
}
